body {
    background-color: #023047;
    font-family: "Roboto", sans-serif;
    color: #1F2023FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 80vh;
}

form {
    background-color: #219EBC;
    padding: 15px;
    border-radius: 15px;
}

input {
    background: #1F2023FF;
    border: 1px solid #3C3F44FF;
    border-radius: 4px;
    color: rgb(247, 248, 248);
    height: 20px;
    appearance: none;
    transition: border 0.15s ease 0s;
    font-size: 14px;
    margin: 5px 0 10px 0;
}

.nicknameInputLabel {
    font-weight: bold;
}

.submitButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 4px 10px;
    border: 0;
    color: #1F2023FF;
    background: #FB8500;
    line-height: 1.15;
    font-size: 16px;
}

.submitButton:hover {
    transition: all .25s ease;
    box-shadow:0 0 0 2px #FB8500;
}